$entry-title-bg: rgba(0,0,0,.6) !default;

.site-header .site-title-wrapper{
	float: left;
	margin-top: 8px;

	@media #{$medium-up} {
		margin-top: 0;
	}
}

.site-title {
	font-family: $sans-font-family;
	font-size: emCalc(24);
	font-size: rem-calc(24);
	font-weight: bold;
	color: $secondary-color;
	letter-spacing: -1px;
	line-height: 1;
	margin-bottom: 0;

	a {
		color: $secondary-color;
	}

	@media #{$medium-up} {
		font-size: emCalc(28);
		font-size: rem-calc(28);
		letter-spacing: -1.8px;
	}

	@media #{$large-up} {
		font-size: emCalc(38);
		font-size: rem-calc(38);
		letter-spacing: -2px;
	}
}

.site-header .custom-logo {
	width: auto;
	max-height: 40px;

	@media #{$medium-up} {
		max-height: 52px;
	}

	@media #{$large-up} {
		max-height: 62px;
	}
}

.site-description{
	font-size: 9px;
	color: lighten($body-font-color,20%);
	font-family: $sans-font-family;
	text-transform: uppercase;

	@media #{$large-up} {
		font-size: emCalc(11);
		font-size: rem-calc(11);
		letter-spacing: 1px;
	}
}

.site-header {
	letter-spacing: -.01em;
	padding: 10px 0;
	min-height: 75px;

	@media #{$medium-up} {
		padding: 17px 0;
		position: inherit;
	}
	@media #{$large-up} {
		padding: 32px 0;
		min-height: 121px;
	}
}

.site-header-wrapper {
	@extend .row;
	@extend .columns;
	float: none;
}

.featured-content{
	.entry-header{
		background-size: cover;

		&,
		.entry-title,
		.entry-title a{
			color: white;
		}

		.entry-header-row{
			@extend .row;
		}

		.entry-header-column{
			@extend .large-8;
			@extend .medium-12;
			@extend .small-12;
			@extend .columns;

			background-color: $entry-title-bg;
			color: contrast-color($entry-title-bg,#000,#fff,50%);
			margin-top: 6em;
			margin-top: 6rem;
			padding: 1.5em 4em 0;
			margin-bottom: 0;
			border-bottom: 0;

			@media screen and (max-width: 600px) {
				margin-top: 0;
				padding: 0em 1em;
				padding: 0rem 1rem;
			}
		}

		.entry-meta,
		.entry-title,
		.entry-excerpt{
			margin-bottom: 1.5rem;
		}

		.entry-meta{
			color: contrast-color($entry-title-bg,#000,#fff,50%);
			border-bottom: 1px solid rgba(255,255,255,.2);
			line-height: 3rem;

			.entry-date{
				float: right;
			}
		}

		.entry-title{
			font-size: rem-calc(42);
			line-height: 1.2;
			font-family: $sans-font-family;
			font-weight: bold;
		}

		.entry-excerpt {
			p{
				font-style: italic;
				font-size: emCalc(19);
				font-size: rem-calc(19);
				font-weight: 200;
			}
		}

		.post-format{
			color: $primary-color;
		}

		.read-more{
			padding: .5em 1em;
			padding: .5rem 1rem;
			background-color: $primary-color;
			color: contrast-color($primary-color,#fff,#000,50%);
			display: inline-block;
			font-family: $sans-font-family;
			text-transform: uppercase;
			font-weight: bold;
			font-size: emCalc(13);
			font-size: rem-calc(13);

			&:hover{
				background-color: darken($primary-color,10%);
			}
		}
	}
}

.page-title-container {
	clear: both;
	padding-top: 30px;

	.page-header {
		@include clearfix;
		background-color: $secondary-color;
		padding: 5% 50px;

		h1 {
			color: white;
			padding: 0;
			margin: 0;
			font-weight: 300;
			text-align: right;
		}
	}
}