.hero {
	background: $secondary-color;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	margin-bottom: 40px;
	@extend .row;

	aside {
		padding: 8% 20px;
		text-align: right;
		color: #fff;
		margin-right: 0;
		@extend .large-12;
		@extend .columns;

		@media #{$medium-up} {
			padding-right: 50px;
			padding-left: 50px;

			.home & {
				padding-left: 40%;
			}
		}
	}

	.widget-title {
		color: #fff;
		font-size: rem-calc(28);
		font-weight: lighter;
		letter-spacing: -1.2px;
		margin: 0;
		text-align: right;

		@media #{$medium-up} {
			font-size: rem-calc(40);
		}

		@media #{$large-up} {
			font-size: rem-calc(56);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	code,
	pre,
	blockquote,
	p {
		color: #fff;
	}

	blockquote.large,
	blockquote.large p {
		color: #fff;
		font-size: rem-calc(24);
		font-style: normal;
		font-weight: lighter;
		padding: 0;

		@media #{$medium-up} {
			font-size: rem-calc(32);
		}

		@media #{$large-up} {
			font-size: rem-calc(42);
		}
	}

	blockquote p {
		margin-bottom: 0;

		@media #{$medium-up} {
			margin-bottom: 1.25rem;
		}
	}

	blockquote cite,
	blockquote cite a {
		color: $primary-color;
		font-size: rem-calc(13);
	}

	a.button {
		background: $hero-button-color;
		color: #FFFFFF;
		border: none;
		font-size: 0.875rem;
		letter-spacing: 0.1rem;
		padding: 8px 32px;

		@media #{$medium-up} {
			padding: 12px 55px;
		}

		&:hover {
			background: lighten($hero-button-color, 5%);
		}
	}
}
