.hero {
	background: $secondary-color;
	margin-bottom: 40px;
	max-width: 1060px;
	@extend .row;
	.hero-wrapper {
		padding: 8% 25px;
		text-align: right;
		color: #fff;
	}

	@media #{$medium-up} {
		.home .hero-inner {
			padding-left: 50%;
		}
		.home {
			padding: 70px 25px 140px;
		}
	}

	.hero-wrapper {
		@extend .row;
	}

	.hero-inner {
		@extend .large-12;
		@extend .columns;
	}

	h1 {
		color: #fff;
		font-size: rem-calc(28);
		font-weight: lighter;
		letter-spacing: -1.2px;
		margin: 0;
		text-align: right;
		@media #{$medium-up} {
			font-size: rem-calc(40);
		}
		@media #{$large-up} {
			font-size: rem-calc(56);
		}
	}

	blockquote,
	p {
		color: #fff;
		font-size: rem-calc(17.58);
		font-style: normal;
		font-weight: lighter;
		padding: 0;
		@media #{$medium-up} {
			font-size: rem-calc(32);
		}
		@media #{$large-up} {
			font-size: rem-calc(42);
		}
	}

	blockquote p {
		margin-bottom: 0;
		@media #{$medium-up} {
			margin-bottom: 1.25rem;
		}
	}

	blockquote cite,
	blockquote cite a {
		color: $primary-color;
		font-size: rem-calc(7.69);
		@media #{$medium-up} {
			font-size: rem-calc(12);
		}
		@media #{$large-up} {
			font-size: rem-calc(13);
		}
	}

	a.button.large {
		background: $hero-button-color;
		color: #FFFFFF;
		border: none;
		font-size: 0.6875rem;
		letter-spacing: 0.083125rem;
		padding: 8px 32px;

		@media #{$medium-up} {
			font-size: 0.875rem;
	    letter-spacing: 0.0375rem;
	    padding: 12px 55px;
		}

		&:hover {
			background: lighten($hero-button-color, 5%);
		}
	}
}
