$menu-link-color: $secondary-color;

.main-navigation {
	clear: both;
	position: absolute;
	width: 100%;
	background: #fff;
	top: 66px;
	left: 0;
	z-index: 999;
	display: none;
	border-bottom: 1px solid rgba(117,117,117,0.28);

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-top: 1px solid rgba(117,117,117,0.28);
			a {
				color: $menu-link-color;
				display: block;
				font-family: $sans-font-family;
				font-size: emCalc(14);
				font-size: rem-calc(14);
				font-weight: 600;
				letter-spacing: 0.64px;
				padding: 13px 7px;
				text-align: center;
				text-transform: uppercase;
				position: relative;

				span {
					display: none;
				}
			}
			&.current-menu-item a,
			a:hover {
				background: #efefef;
			}
			&.menu-item-has-children > a > span {
				position: absolute;
				top: 0;
				right: 0;
				border-left: 1px solid rgba(117, 117, 117, 0.28);
				height: 100%;
				display: block;
				padding: 13px;
				&:before {
					content: "\25bc";
				}
			}
			&.menu-item-has-children .sub-menu {
				li {
					border-top: 1px solid rgba(255,255,255,0.20);
					a {
						background: $secondary-color;
						color: #fff;
						text-align: left;
						text-transform: none;
						padding: 10px 20px;
						position: relative;
						span {
							padding: 8px;
						}
					}
					&.current-menu-item a,
					a:hover {
						background: lighten($secondary-color, 0.8);
					}
				}
				.sub-menu {
					display: none;
					li a {
						padding-left: 30px;
					}
				}
			}
		}
	}
}

.menu-toggle {
	display: block;
	float: right;
	cursor: pointer;
	padding: 19px 10px;

	div {
		background: #979797;
		height: 3px;
		width: 16px;
		margin-bottom: 3px;
	}
}

@media #{$medium-up} {
	.main-navigation {
		display: block;
		clear: none;
		float: right;
		position: relative;
		width: auto;
		background: none;
		top: 0;
		left: 0;
		margin-top: 5px;
		display: block;
		border: none;

		ul {
			border: 0;
			li {
				border: none;
				display: inline-block;
				margin: 0 2em 0 0;
				padding-bottom: 2px;

				&.current-menu-item a,
				a:hover {
					background: none;
				}

				&:last-child {
					margin: 0;
				}

				&.current-menu-item,
				&:hover {
					padding-bottom :0;
					border-bottom: 2px solid $secondary-color;
				}

				a {
					letter-spacing: 0.55px;
					padding: 0;
				}

				&.menu-item-has-children {
					position: relative;
					> a > span {
						display: none;
					}
					.sub-menu {
						display: none;
						position: absolute;
						width: 250px;
						padding-top: 10px;
						li {
							display: block;
							border: 0;
							margin: 0;
							padding: 0;

							a {
								text-align: left;
								border-bottom: 0;
							}

							&.menu-item-has-children > a > span {
								display: block;
								padding: 12px;
								border: none;
								&:before {
									content: "\25b6";
								}
							}
						}
						.sub-menu {
							left: 100%;
							top: 0;
							padding: 0;
							li a {
								padding-left: 20px;
							}
						}
					}
					&:hover > .sub-menu  {
						display: block;
					}
				}
			}
		}
	}
	.menu-toggle {
		display: none;
	}

}

@media #{$large-up} {
	.main-navigation {
		margin-top: 15px;
		ul {
			li {
				a {
					letter-spacing: 0.6px;
				}
			}
		}
	}
}

/**
 * Post navigation
 */
.navigation {
	@extend .row;

	.nav-links {
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1em;
		margin-bottom: 1rem;
		padding: 0;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
