$menu-link-color: #194F6E;

.main-navigation {
	clear: both;
	position: fixed;
  width: 100%;
  background: #fff;
  top: 76px;
  left: 0;
  z-index: 999;
	display: none;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-top: 1px solid #979797;
			a {
				color: $menu-link-color;
				display: block;
				font-family: $sans-font-family;
				font-size: emCalc(14);
				font-size: rem-calc(14);
				font-weight: bold;
				letter-spacing: 0.64px;
				line-height: 50px;
				height: 50px;
				text-align: center;
				text-transform: uppercase;
			}

			a:hover,
			&.current-menu-item a {
				background: $menu-link-color;
				color: #fff;
			}

			&.menu-item-has-children ul li a {
				padding-left: 100px;
				background: #f1f1f1;
			}
		}
	}
}
.menu-toggle {
	display: block;
	float: left;
	width: 65px;
	padding: 10px;
	cursor: pointer;

	div {
		background: #979797;
		height: 4px;
		margin: 6px;
		border-radius: 1px;
	}
}

@media #{$medium-up} {
	.main-navigation {
		clear: none;
		float: right;
		position: relative;
    width: auto;
    background: none;
    top: 0;
    left: 0;
		margin-top: 12px;

		ul {
			display: block;
			li {
				border: none;
				display: inline-block;

				a {
					font-size: emCalc(12);
					font-size: rem-calc(12);
					height: inherit;
					letter-spacing: 0.55px;
					line-height: inherit;
					margin: 0 1em;
					margin: 0 1rem;
					padding: 0.1em 0;
					padding: 0.1rem 0;
				}

				a:hover,
				&.current-menu-item a {
					background: none;
					color: $menu-link-color;
					border-bottom: 2px solid $menu-link-color;
				}

				&.menu-item-has-children {
					display: none;
				}
			}
		}
	}
	.menu-toggle {
		display: none;
	}

}

@media #{$large-up} {
	.main-navigation {
		margin-top: 19px;
		ul {
			li {
				a {
					font-size: 13px;
					letter-spacing: 0.6px;
				}
			}
		}
	}
}

/**
 * Post navigation
 */
.navigation {
	@extend .row;

	.nav-links {
		@extend .large-12;
		@extend .columns;
		margin-bottom: 1em;
		margin-bottom: 1rem;
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
