.sticky {}

.no-results,
.not-found{
	.page-header{
		margin-bottom: 1em;
	}
}

.hentry {
	margin-bottom: 3em;
	.attachment-basis-featured{
		width: 100%;
		height: auto;
	}

	.entry-header {
		color: $heading-font-color;
	}
}

.featured-image{
	margin-bottom: 1em;
	margin-bottom: 1.5rem;
}

.byline,
.updated {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content,
.entry-summary {
	margin: 1.5em 0;
}

.entry-content {
	overflow: hidden;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.sticky .entry-title a:before {
	font-family: 'Genericons';
	content: '\f308';
	color: $body-secondary-color;
	font-size: rem-calc(20);
	line-height: 1.4;
	position: relative;
	top: 2px;

	@media #{$medium-up} {
		font-size: rem-calc(30);
		top: 5px;
	}

	@media #{$large-up} {
	 font-size: rem-calc(35);
	}

}

.entry-title, .archive-title{
	margin-bottom: .25em;
	font-size: rem-calc(25);
	font-weight: lighter;
	letter-spacing: -0.3px;

	@media #{$medium-up} {
		font-size: rem-calc(32.5);
	}

	@media #{$large-up} {
	 font-size: rem-calc(40);
	}

	a {
		color: $heading-font-color;
		font-weight: lighter;
	}
}

.archive-title{
	margin-bottom: 1em;
	margin-bottom: 2rem;
}

.entry-footer{
	color: $small-font-color;
	font-family: $header-font-family;
	font-size: rem-calc(14);
	@include clearfix;

	a{
		color: $primary-color;

		&:hover,
		&:focus,
		&:active {
			color: $color-link-hover;
		}
	}

	.entry-footer-right {
		float: right;
	}

	.cat-links,
	.tags-links,
	.comments-link {
		display: block;
		font-size: rem-calc(11.75px);
	text-transform: uppercase;
	letter-spacing: 1px;
	}

	.comments-link a {
		vertical-align: top;
	}

}

.entry-meta {
	color: $body-secondary-color;
	line-height: $base-line-height;
	font-size: rem-calc(11.75);
	font-family: $sans-font-family;
	text-transform: uppercase;
	letter-spacing: 1px;
	@extend .clearfix;

	.posted-date,
	.posted-author,
	.comments-number {
		margin-right: 20px;
	}

	i{
		vertical-align: middle;
		line-height: .8;
	}

	.has-post-thumbnail &{
		border-bottom-width: 0;
	}
}

.entry-media-meta {
	.button {
		margin-right: 1em;
		margin-right: 1rem;

		@media #{$small-only}{
			margin-bottom: 10px;
		}
	}
}

.event-meta,
.sermon-meta,
.location-meta,
.person-meta {
	margin-bottom: 1em;
	margin-bottom: 1rem;
	font-family: $sans-font-family;

	.genericon {
		line-height: 2;
	}


	span {
		-ms-word-wrap: break-word;
		word-wrap: break-word;
		white-space: nowrap;
		margin-right: .5em;
		margin-right: .5rem;
		line-height: 2;
	}
}

.post-format{
	color: $primary-color;
	text-transform: uppercase;
	font-family: $sans-font-family;
	font-size: rem-calc(13);
	font-weight: bold;
}

.more-link{
	font-family: $header-font-family;
	font-weight: normal;
	border-radius: $global-radius;
	border: 1px solid $primary-color;
	padding: .5em 1em;
	padding: .5rem 1rem;
}

article.format-link {
	background: #f5f5f5;

	.entry-title {
		font-family: $sans-font-family;
		font-weight: bold;
		font-size: rem-calc(28);
	}
}

.entry-media.audio {
	margin-bottom: 1.5em;
}

.basis-event-full-map,
.entry-media.video {
	height: 0;
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 66%;

	> * {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%!important;
		height: 100%!important;
	}

	.mejs-container {
		width: 100%!important;
		height: 100%!important;
	}
}
section > h2 {
	font-size: 20px;
	font-weight: lighter;
	color: $body-secondary-color;
	display: table;
	margin-left: auto;
	margin-right: auto;

	@media #{$medium-up} {
		font-size: 24px;
		padding-bottom: 11px;
		border-bottom: 2px solid rgba(117,117,117,0.28);
	}

	@media #{$large-up} {
	 font-size: 30px;
	 padding-bottom: 18px
	}
}

section.error-404 {
	text-align: center;
	padding: 50px;
	p {
		color: $body-font-color;
		font-weight: lighter;
	}
	@media #{$medium-up} {
		padding: 100px 0;
		p {
			font-size: 20px;
		}
		.search-form {
			padding: 0 100px;
		}
		.search-field {
			font-size: 24px;
			line-height: 54px;
			height: 56px;
			padding: 0 15px;
			background: #f9f9f9;
		}
		.search-submit {
			font-size: 24px;
	    font-weight: bold;
	    line-height: 54px;
	    height: 56px;
			background: #f9f9f9;
			&:hover {
				background: $secondary-color;
			}
		}
	}
}
