$widget-bg: #fff !default;

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget {
	margin: 0 0 3em;

	@media #{$large-up} {
		input[type="text"],
		input[type="email"],
		input[type="url"],
		input[type="password"],
		input[type="search"],
		input[type="number"],
		textarea,
		select {
			width: 100%;
		}
		input[type="search"].search-field {
			width: 70%;
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		a {
			display: block;
			padding: .813em 0;
			padding: .813rem 0;
			text-transform: $widget-text-transform;
			font-size: rem-calc(15);
		}
		border-bottom: 1px solid rgba(117,117,117,0.28);
	}
}

.widget-title {
	font-family: $sans-font-family;
	position: relative;
	box-sizing: content-box;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: none;
	font-size: 20px;
	color: #194F6E;
}

/* Author Widget */
.widget_author {

	.widget-title {
		margin-bottom: 1.25em;
		margin-bottom: 1.25rem;
	}

	.avatar {
		width: 80px;
		border-radius: 4px;
		float: left;
		margin-right: 1em;
		margin-right: 1rem;
		margin-bottom: .5em;
		margin-bottom: .5rem;
		overflow: hidden;
	}

	.author-name {
		font-size: rem-calc(18);
		font-weight: bold;
		margin-bottom: .5em;
		margin-bottom: .5rem;
	}

	p {
		font-size: rem-calc(15);
		line-height: $base-line-height;
	}
}

/* Recent Comments Widget */

.widget_recent_comments {
	li {
		padding: .813em 0;
		padding: .813rem 0;
		font-size: rem-calc(15);
		text-transform: uppercase;

		a {
			display: inline;
		}
	}
}

/* Calendar Widget */

.widget_calendar {
	margin-bottom: 1.25em;
	margin-bottom: 1.25rem;

	.widget-title {
		margin-bottom: 1.25em;
		margin-bottom: 1.25rem;
	}

	#calendar_wrap {

		#wp-calendar {
			width: 100%;
			color: $body-font-color;
			border-collapse: collapse;
			font-size: .9em;
			border-radius: 0 0 2px 2px;
			overflow: hidden;
			margin-bottom: 0;

			td,th{
				width: 14.285714286%;
				background: #fff;
				border: 0;
			}

			&,td,th,caption{
				text-align: center;
			}

			caption {
				color: contrast-color($primary-color,#222,white,30%);
				padding: .75em .25em;
				font-weight: bold;
				background-color: $body-bg;
				border-radius: 2px 2px 0 0;
			}

			thead th {
				padding: .25em 0;
				background-color: lighten($body-bg, 30%);

				&:last-child { border: none; }
			}

			tbody tr {

				&:last-child { border: none; }

				td {
					height: 2em;
					padding: 0;
					margin: 0;

					&#today {
						position: relative;
					}

					a {
						color: contrast-color($body-bg, #222, white, 30%);
						background: lighten(desaturate( darken( $body-bg, 10% ), 5% ), 10%);
						border-radius: 2px;
						margin: 0 3px;
						display: block;
						font-weight: bold;
						border-bottom: none;
						transition: 200ms color linear;
					}
				}
			}

			tfoot {
				background: desaturate( darken( $body-bg, 10% ), 5% );

				td {
					padding: .5em 1em;
					font-weight: bold;

					a{
						color: $body-font-color;
						transition: 200ms color linear;

						&:hover{
							color: $primary-color;
						}
					}

					&#prev{
						text-align: left;
					}

					&#next{
						text-align: right;
					}
				}
			}
		}
	}
}

.widget_recent_entries {
	li {
		padding: .75em 0;
		padding: .75rem 0;
		a {
			padding: 0;
			font-size: rem-calc(15);
			text-transform: none;
		}
	}
	.post-date {
		color: $body-secondary-color;
		font-size: rem-calc(12);
		text-transform: uppercase;
	}
}

.widget_text .widget-title, .widget_search .widget-title {
	 margin-bottom: 1rem;
}

#content .widget ul li {
	border: none;
}
