/*--------------------------------------------------------------
>>> Gutenberg:
--------------------------------------------------------------*/
.wp-block-cover-image.alignfull,
.wp-block-image.alignfull,
.wp-block-cover-text.alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull,
.wp-block-text-columns.alignfull {
	margin-left: -1.25rem;
	width: calc( 100% + 2.5em );

	@media #{$small-up} {
		figcaption {
			padding: 0 1em;
		}
	}

	@media #{$medium-up} {
		figcaption {
			padding: 0 2.375em;
		}
	}

	figcaption {
		padding: 0 3.375em;
	}
}

.wp-block-cover-image.alignwide,
.wp-block-image.alignwide,
.wp-block-cover-text.alignwide,
.wp-block-image.alignwide,
.wp-block-gallery.alignwide,
.wp-block-text-columns.alignwide {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
}

.wp-block-image,
.wp-block-gallery,
.wp-block-video,
.wp-block-quote,
.wp-block-text-columns,
.entry-content ul,
.entry-content ol,
.wp-block-cover-text {
	&.alignleft {
		max-width: 40%;
		margin: 0 1.5em 1.5em 0;
	}

	&.alignright {
		max-width: 40%;
		margin: 0 0 1.5em 1.5em;
	}
}

body.customize-support {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.site-title,
	.page-title {
		clear: none;
	}

	.entry-content {
		overflow: visible;
	}
}
