/**
 * Custom Shopping Cart Menu Item
 */
.main-navigation .menu-item-object-cart {
    float: right;
    min-width: 275px;
    text-align: right;
    border-bottom: none;
}

.main-navigation .menu-item-object-cart a {
    padding-left: 0;
    float: right;
    cursor: pointer;
}

.main-navigation .menu-item-object-cart a i {
    font-size: 20px;
}

.main-navigation .menu-item-object-cart:hover a {
    background: transparent;
}

.main-navigation .menu-item-object-cart .cart-preview-total {
    float: left;
    margin-right: 1rem;
    font-weight: bold;
}

.main-navigation .menu-item-object-cart .cart-preview-count {
    float: left;
    font-weight: 200;
}

ul.site-header-cart.menu {
    width: 100%;
    max-width: 275px;
    padding: 0;
    list-style: none;
    float: right;
    display: none;
    position: relative;
    z-index: 10001;
		background-color: $body-bg;
}

ul.site-header-cart.menu li {
    border: none, 1px solid grey, 1px solid grey, 1px solid grey;
    -webkit-box-shadow: 0 0 10px 0 grey;
    box-shadow: 0 0 10px 0 grey;
}

ul.site-header-cart.menu ul.product_list_widget li {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ul.site-header-cart.menu ul.product_list_widget li.mini_cart_item a {
    line-height: 20px;
    padding-bottom: .25em;
}

ul.site-header-cart.menu ul.product_list_widget li.mini_cart_item a.remove {
    line-height: 2px;
		margin-top: 8px;
}

ul.site-header-cart.menu .widget_shopping_cart {
    margin-bottom: 0;
    padding: 10px 0 2px 0;
}

ul.site-header-cart.menu .widget_shopping_cart .product_list_widget {
    padding: 0 .5em;
    max-height: 220px;
    overflow-y: auto;
}

ul.site-header-cart.menu .widget_shopping_cart .product_list_widget img.attachment-shop_thumbnail {
    width: 55px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul.site-header-cart.menu .widget_shopping_cart .total {
    padding: 10px;
    margin: .5em 0;
}

ul.site-header-cart.menu .widget_shopping_cart .buttons {
    padding: 0 .5em;
    margin: 0;
}

ul.site-header-cart.menu .widget_shopping_cart .buttons a {
    display: block;
    width: 100%;
    text-align: center;
}

.site-header-cart-container {
    width: 100%;
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
}

.site-header-cart-container .buttons a {
    margin-bottom: 5px;
}

body.woocommerce .quantity input.input-text.qty {
	padding: .45em;
}

@media only screen and (max-width: 61.063em) {
    .menu-item-object-cart {
        display: none;
    }
}
