.main-navigation .menu-item-object-cart:hover a {
	background: transparent;
}

ul.site-header-cart.menu {
	width: 100%;
	max-width: 275px;
	padding: 0;
	list-style: none;
	float: right;
	display: none;
	position: relative;
	z-index: 10001;
	background-color: $body-bg;
}

.site-footer-inner .woocommerce-cart-menu-item,
.site-info-wrapper .woocommerce-cart-menu-item {
	display: none;
}

.widget_shopping_cart {

	float: left;
	padding: 0 1rem;
	margin-bottom: .5em;

	.quantity {
		font-style: italic;
	}

	ul.product_list_widget {
		position: relative !important;
		left: 0;
	}

	p.buttons,
	.total,
	.product_list_widget {
		float: left;
		width: 100%;
	}

	p.buttons {
		margin-bottom: 0;
	}

}

.woocommerce-cart-menu-item .woocommerce.widget_shopping_cart .cart_list li.mini_cart_item {
	padding: 0;
	margin: 0;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: none;
	opacity: 1;
	transition: opacity .25s ease-out;
	-moz-transition: opacity .25s ease-out;
	-webkit-transition: opacity .25s ease-out;
	-o-transition: opacity .25s ease-out;

	a:nth-child(2) {
		padding: .5em 0em;
		margin: 0;
		width: 100%;
	}

	&:hover {
		opacity: 0.85;
	}

}

.woocommerce-cart-menu-item {

	.product_list_widget {
		border: none;
		box-shadow: none;
	}

	.widget_shopping_cart {

		.total {
			margin: 10px 0;
			padding-top: 10px;
		}

		p.buttons a {
			text-align: center;
			width: 100%;

			&:first-child {
				margin-bottom: 5px;
			}

		}

	}

	.cart-preview-count {
		margin-left: 8px;
	}

	.cart_list li a.remove {
		position: relative;
		float: left;
		padding: 0;
		margin-top: 10px;
		text-indent: 0;

		&:hover {
			background: red;
		}
	}

}

@media #{$medium-up} {

	li#woocommerce-cart-menu-item .sub-menu {
		margin-left: -6em;
	}

}

@media #{$small-only} {

	li#woocommerce-cart-menu-item {
		display: inline-block;
		width: 100%;
	}

	.widget_shopping_cart {

		width: 100%;

		ul.product_list_widget,
		.woocommerce-cart-menu-item {
			display: block;
			width: 100%;
		}

		.cart_list li.mini_cart_item a:nth-child(2) {

			border: none;

			img {
				width: 100%;
				max-width: 55px;
			}

		}

		.total {
			text-align: center;
		}

	}

}
