.primer-wc-cart-menu {

	.primer-wc-cart-sub-menu {
		float: right;
		width: 100%;
		box-shadow: none;

		li,
		.widget_shopping_cart {
			width: 100%;
			background: #fff;
		}

		.widget_shopping_cart {

			float: right;
			width: 250px;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);

			.quantity {
				display: block;
				float: left;
				font-style: italic;
				padding-left: 1.25em;
				padding-bottom: .5em;
			}

			ul.product_list_widget {
				position: relative !important;
				left: 0;
				max-height: 250px;
				overflow-y: auto;
			}

			p.buttons,
			.total,
			.product_list_widget {
				float: left;
				width: 100%;
			}

			.total strong {
				text-index: 0;
			}

			p.buttons {
				padding: .5em;
				margin: 0;
			}

			.cart_list li.mini_cart_item {
				padding: 0 !important;
				margin: 0;
				width: 100%;
				padding-bottom: 5px;
				border-bottom: none;
				padding: .5em 1em;
				text-indent: 0;
				opacity: 1;
				transition: opacity .25s ease-out;

				img {
					width: 100%;
					max-width: 55px;
				}

				a {
					border-bottom: none;
				}

				a:nth-child(2) {
					padding: .5em;
					padding-bottom :0;
					margin: 0;
					width: 100%;
					text-indent: 0 !important;
				}

				&:hover {
					opacity: .85;
				}
			}

		}

		.primer-wc-cart-sub-menu-item {

			.product_list_widget {
				border: none;
				box-shadow: none;
				display: inline-block;
				left: 0 !important;
				background: inherit;
			}

			.widget_shopping_cart {

				padding: 0;
				margin-bottom: 0;

				.total {
					margin: 0 0 10px 0;
					padding-top: 10px;
					text-align: center;
				}

				.total strong {
					text-indent: 0;
				}

				p.buttons a {
					text-align: center;
					width: 100%;
					text-indent: 0;

					&:first-child {
						margin-bottom: 5px;
					}

				}

			}

			.cart-preview-count {
				margin-left: 8px;
			}

			.cart_list li a.remove {
				position: relative !important;
				float: left;
				padding: 0;
				margin-top: 10px;
				margin-left: 15px;
				text-indent: 0;
				margin-right: 5px;
				z-index: 1001;
				line-height: .95;
				text-indent: 0 !important;
				border: none;
				box-shadow: none;

				&:hover {
					background: red !important;
				}
			}

		}

	}

	&:hover {
		cursor: pointer;

		a {
			background: transparent;
		}

	}

}

body.post-type-archive,
body.single-product {

	/* On Sale Badge */
	span.onsale,
	ul.products li.product .onsale {
		padding: 2px 8px;
		border-radius: 0;
		margin: 0;
		min-height: auto;
		min-width: auto;
		line-height: inherit;
	}

}

body.single-product {

	span.onsale {
		padding: 3px 18px;
		top: 0;
		left: 0;
	}

	.quantity .input-text {
		padding: 8px;
	}

}

body.woocommerce-cart {

	.primer-wc-cart-sub-menu {
		display: none;
	}
}

.woocommerce #content table.cart img,
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
	width: 100%;
	max-width: 100px;
	margin-bottom: 0;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
	padding: 6px;
}

.woocommerce ul.products li.product a.add_to_cart_button {
	width: 100%;
	font-size: 16px;
	text-align: center;
}

@media #{$small-only} {

	.primer-wc-cart-menu {

		.primer-wc-cart-sub-menu {

			.widget_shopping_cart {
				width: 100%;
			}

		}

	}

}
